@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-light.woff2') format('woff2'),
    url('/assets/fonts/avalon-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-regular.woff2') format('woff2'),
    url('/assets/fonts/avalon-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-bold.woff2') format('woff2'),
    url('/assets/fonts/avalon-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-light-italic.woff2') format('woff2'),
    url('/assets/fonts/avalon-light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-regular-italic.woff2') format('woff2'),
    url('/assets/fonts/avalon-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avalon';
  src: url('/assets/fonts/avalon-bold-italic.woff2') format('woff2'),
    url('/assets/fonts/avalon-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}