/* Fonts */

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --ff: "Montserrat", sans-serif;
  --color-primary: #ddd9f2;
  --color-pre-primary: #faf7ff;
  --color-secondary: hsl(250, 50%, 10%);
  --color-tertiary: #474554;
  --color-accent: #aca9bb;
}

.dark {
  --color-primary: hsl(250, 50%, 10%);
  --color-pre-primary: #191339;
  --color-secondary: hsl(250, 50%, 90%);
  --color-tertiary: hsl(310, 80%, 80%);
  --color-accent: hsl(190, 80%, 80%);
}

/* Root tags */
html {
  /* fixes mobile viewport on browsers */
  height: -webkit-fill-available;
}

body {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-family: var(--ff);
  padding: .5rem;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  height: -webkit-fill-available;
  transition: background-color .7s ease-in;
  transition: color .7s ease-in;
}

header a {
  font-weight: 600;
  font-family: "Fredoka", sans-serif;
  transition: color .7s ease-in;
}

header .logo-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

header .logo-container svg {
  width: 2rem;
  height: 2rem;
}

#nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: .75rem;
  background-color: var(--color-pre-primary);
}

#nav-controls svg {
  width: 1rem;
  height: 1rem;
}

#nav-controls svg * {
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
}

header .logo-container svg * {
  fill: var(--color-accent);
}

main {
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
}

main .start_carousell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  background-color: var(--color-pre-primary);
  transition: 1s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
  transition: background-color 1s ease, color 0.3s ease, box-shadow 0.3s ease;
}

main .start_carousell svg * {
  stroke: var(--color-tertiary);
}

main .start_carousell:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-accent);
}

main .start_carousell:hover svg * {
  stroke: var(--color-accent);
}


header {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

/* Components */

.btn-primary {
  text-transform: uppercase;
  color: var(--color-pre-primary);
  letter-spacing: 0.25rem;
  border: 2px solid var(--color-secondary);
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--color-secondary);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Layout */
.flex {
  display: flex;
  flex-flow: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

/* Spacing */
.gap-10 {
  gap: 40px;
}

/* Visibility */
.hidden {
  display: none;
}