/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* logo */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* Variables */
:root {
  --ff: "Montserrat", sans-serif;
  --color-primary: hsl(250, 50%, 90%);
  /* --color-pre-primary: rgb(238, 236, 249); */
  --color-secondary: hsl(250, 50%, 10%);
  --color-tertiary: hsl(310, 80%, 20%);
  --color-accent: hsl(190, 80%, 20%);
}
.dark {
  --color-primary: hsl(250, 50%, 10%);
  --color-pre-primary: #191339;
  --color-secondary: hsl(250, 50%, 90%);
  --color-tertiary: hsl(310, 80%, 80%);
  --color-accent: hsl(190, 80%, 80%);
}

/* Root tags */
html {
  /* fixes mobile viewport on browsers */
  height: -webkit-fill-available;
}

body {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-family: var(--ff);
  padding: .5rem;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  height: -webkit-fill-available;
  transition: background-color 1s ease-in;
}

header a {
  font-weight: 600;
  font-family: "Fredoka", sans-serif !important;
}

header .logo-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

header .logo-container svg {
  width: 24px;
  height: 24px;
}

header .logo-container svg * {
  fill: var(--color-accent);
}

main {
  margin: 0 auto;
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
}

main .main__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 144px;
  height: 144px;
  background-color: var(--color-pre-primary);
  transition: 0.15s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

main .main__img svg * {
  stroke: var(--color-tertiary);
}

main .main__img:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-accent);
}

main .main__img:hover svg * {
  stroke: var(--color-accent);
}


header {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
}

/* Components */

.btn-secondary {
  color: var(--color-tertiary);
  letter-spacing: 0.25rem;
  border: 1px solid var(--color-tertiary); 
  border-radius: 8px;
  padding: 16px 48px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dark {
  width: 12px;
  fill: var(--color-secondary);
  cursor: pointer;
  background: var(--color-pre-primary);
  padding: 8px 11px;
  border-radius: 20px;
  box-shadow: 0 2px 2px hsla(var(--hue), 50%, 10%, .3), 0 4px 4px hsla(var(--hue), 50%, 10%, .15);
}

/* Layout */

.flex {
  display: flex;
  flex-flow: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

/* Spacing */

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-10 {
  gap: 40px;
}
.gap-20 {
  gap: 80px;
}

/* Visibility */

.hidden {
  display: none;
}